#pragma once

#define GITHUB_TOKEN ""
#define GITHUB_ORGANIZATION ""
GITHUB_OWNER ""


#define OTA_HOSTNAME ""
#define OTA_PASSWORD ""

#define WIFI_SSID_1 ""
#define WIFI_PASSWORD_1 ""

#define WIFI_SSID_2 ""
#define WIFI_PASSWORD_2 ""

#define WIFI_SSID_3 ""
#define WIFI_PASSWORD_3 ""

#define WIFI_SSID_4 ""
#define WIFI_PASSWORD_4 ""

#define MQTT_HOST ""
#define MQTT_PORT 1883
#define MQTT_USER ""
#define MQTT_PASSWORD ""

#define MQTT_TOPIC "home/esp32"
#define MQTT_TOPIC_STATUS MQTT_TOPIC "/status"
#define MQTT_TOPIC_UPDATE MQTT_TOPIC "/update"
